* {
  margin: 0;
  color: #31342f;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table, td, th {
border: 1px solid #ccc;
}

li {
  list-style: none;
}

.top {
  height: auto;
  width: 100%;
}

.topBar {
  width: 1000px;
  height: 30px;
  margin: auto;
  padding-top: 10px;
}

.topBarLeft {
  float: left;
}

.topBarRight {
  float: right;
}

.topBarRight a {
  display: inline-block;
  margin-right: 20px;
  color: #31342f;
}

.topBarRight a:hover {
  background-color: #fffffa;
}

.fas {
  margin-right: 10px;
}

.topBarLeft h1 {
  font-size: 14px;
  font-weight: normal;
  font-family: 'Osaka-Mono';
}


.logo {
  float: left;
}

.logo img {
  width: 100px;
  height: 50px;
}

.topNavi {
  width: 1000px;
  height: 50px;
  margin: auto;
  margin-bottom: 20px;
}

.topBar2 {
  width: 100%;
  height: 50px;
  margin: auto;
  background-color: #f7f6eb;
}

.topBar2 p {
  font-size: 18px;
  line-height: 50px;
  display: inline-block;
  margin-left: 150px;
}

footer {
  width: 100%;
  height: auto;
  margin-top: 50px;
  background-color:#f7f6eb;
}

.footerMain {
  width: 1000px;
  height: 200px;
  margin:auto;
}

.footerRight {
  margin-top: 10px;
  float: right
}

.footerLeft img {
  height: 100px;
  width: 200px;
}

.footerLeft {
  padding-top: 40px;
}

li {
  font-size: 20px;
  line-height: 60px;
}

.pickup {
  width: 100%;
  height: auto;
  margin-top: 80px;
}

.pickupmain {
  width: 1000px;
  height: 2800px;
  margin: auto;
  text-align: center;
}

.pickup h2 {
    font-weight: normal;
    font-size: 40px;
    margin: auto;
    margin-bottom: 50px;
    width: 250px;
}

.under_line {
  background:rgba(0, 0, 0, 0) linear-gradient(transparent 80%, #90877c 0%);
  opacity: 0.8;
  border-radius: 2px;
}

.pickupboxes {
  width: 1000px;
  margin-bottom: 150px;
}

.pickupbox {
  float: left;
  width: 50%;
  margin-bottom: 50px;
}

.pickupbox img {
  width: 300px;
  height: 230px;
  border-radius: 3px;
}
